.blog {
  padding: 86px 0 47px;
  @media (max-width: $tablet) {
    padding: 60px 0 45px;
  }
  @media (max-width: $mobile) {
    padding: 27px 0 70px;
  }

  &__container {
  }

  &__empty {
    text-align: center;
    min-height: 300px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    @media (max-width: $mobile) {
      font-size: 16px;

    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: $tablet) {
      align-items: flex-start;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 28px;
      @media (max-width: $tablet) {
        margin-bottom: 16px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 26px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 120%;

    max-width: 50%;
    @media (max-width: $tablet) {
      font-size: 35px;
    }
    @media (max-width: $mobile) {
      max-width: 100%;
    }
  }

  &__text {
    max-width: 357px;
    text-align: right;
    font-size: 18px;
    line-height: 160%;
    color: var(--light-blue);
    @media (max-width: $mobile) {
      text-align: left;
      font-size: 16px;
      max-width: 100%;
    }
  }

  &__form {
    &:not(:last-child) {
      margin-bottom: 70px;
      @media (max-width: $tablet) {
        margin-bottom: 56px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 44px;
      }
    }
  }

  &__nav {
    &:not(:last-child) {
      margin-bottom: 56px;
      @media (max-width: $mobile) {
        margin-bottom: 44px;
      }
    }
  }

  &__grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 24px;
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 47px;
    @media (max-width: $mobile) {
      margin-top: 16px;
    }
  }

  &__load-more {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    line-height: 150%;
    @media (hover: hover) {
      &:hover {
        .blog__icon {
          transform: translateY(5px);
        }
      }
    }

  }

  &__icon {
    width: 31px;
    height: 31px;
    border: 1px solid #111727;
    display: inline-flex;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

    img {


      margin: auto;
    }

    border-radius: 50%;
  }
}

.blog-form {
  max-width: 407px;
  @media (max-width: $tablet) {
    max-width: 348px;
  }
  @media (max-width: $mobileSmall) {
    max-width: 100%;
  }

  &__item {
    position: relative;
  }

  &__input {
    height: 50px;
    border-radius: 100px;
    padding-right: 129px;
    padding-left: 16px;
    @media (max-width: $tablet) {
      height: 44px;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 122px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    border: 1px solid rgba(17, 24, 37, 0.1);
    border-radius: 100px;
    color: #FBFBFB;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $mobile) {
      width: 120px;
    }
    @media (hover: hover) {
      &:hover {
        background: var(--light-blue);
      }
    }

  }
}


.blog-nav {
  display: flex;
  position: relative;
  @media (max-width: $tablet) {
    margin-right: -15px;
  }

  &::after {
    content: '';
    height: 2px;
    background: var(--input-light);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
  }

  &__items {
    @extend %hidescroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;

  }

  &__item {
    padding: 0px 12px 8px;
    display: inline-block;
    line-height: math.div(19, 16);
    color: var(--secondary-text-light);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0px;
      left: 0;
      z-index: 2;
      width: 100%;
      background: var(--blue);
      opacity: 0;
    }

    &.active {
      font-weight: 500;

      color: var(--blue);

      &::after {
        opacity: 1;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }
  }
}

.blog-article {
  background: var(--white);
  border-radius: 14px;
  overflow: hidden;

  &__image-ibg {
    height: 202px;
    display: block;
  }

  &__content {
    padding: 12px 20px 16px;
    @media (max-width: $tablet) {

      padding: 12px 20px 16px 16px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;


    a {
      display: block;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
      @media (hover: hover) {
        &:hover {
          color: var(--blue);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: math.div(17, 14);
    color: var(--secondary-text-light);

    & > * {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
}