.notification {
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
    right: 0;
    z-index: 10;
    background: #FFF;
    box-shadow: 0px 15px 30px 0px rgba(235, 236, 240, 0.30);
    width: 388px;
    transition: all 0.2s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    transform: translateX(100%);
    @media (max-width: $mobileSmall) {
        width: 100%;
    }

    .open-notify & {
        transform: translateX(0);
    }

    .dark & {
        background: var(--Foreground-Dark, #171821);
        box-shadow: 0px 15px 30px 0px rgba(67, 67, 67, 0.05);
    }

    &__head {
        position: sticky;
        padding: 24px 40px 24px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        top: 0;
        background: #FFF;
        z-index: 2;
        left: 0;

        .dark & {
            background: var(--Foreground-Dark, #171821);
        }
    }

    &__title {
        font-size: 18px;
        color: var(--text-primary);
    }

    &__close {
        color: #111828;
        display: inline-block;
        padding: 10px;
        margin-right: -10px;

        .dark & {
            color: #fff;
        }

        svg {
            fill: currentColor;
            width: 12px;
            height: 12px;
        }
    }

    &__items {
        padding-bottom: 40px;
    }

    &__item {
        padding: 20px 52px 16px 30px;
        display: block;
        @media (max-width: $mobile) {
            padding-right: 40px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #E8E8EA;;

            .dark & {
                border-color: #2E2F37;;
            }
        }
    }

    &__item--new {
        .notification__item-title {
            position: relative;
            padding-right: 12px;


            &::after {
                content: '';
                width: 6px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 6px;
                border-radius: 50%;
                position: absolute;
                background: var(--Cancel-Button, #EB365C);
            }
        }
    }

    &__item-row {
        display: flex;
        align-items: center;
        gap: 12px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__content {
        flex: 1 1 auto;
    }

    &__item-title {
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 500;
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &__item-date {
        font-size: 12px;
        color: var(--secondary-text-light);
    }

    &__item-text {
        font-size: 12px;
        line-height: 14px;
        color: var(--secondary-text-light);
    }

    &__item-image-ibg {
        width: 90px;
        height: 63px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 8px;
    }
}