:root {
    --mainColor: #111825;
    --white: #fff;
    --blueGradient: linear-gradient(94.62deg, #3862EC 0%, #7692EA 100%);
    --gradient-dark: linear-gradient(147.38deg, #272E3D 0%, #111828 100%);
    --blue: #3862EC;
    --bgBlack: #131416;
    --light-blue: #2C4471;
    --grey: #E0E0E0;
    --secondary-text-light: #6E7191;
    --input-light: #E2E3E5;
    --Foreground-Dark: #171821;
}